/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header_info-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.header { text-align: center;
}
}
.todo-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todo__add-task,
.tasks-list__edit,
.tasks-list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.todo__row-wrapper {
  display: flex;
}

.tasks-list {
  margin:0;
  padding: 0px;
}
.tasks-list__item {
  list-style:none;
}
.tasks-list__button,
.tasks-list_edit,
.todo__add-task {
  outline:none;
}
.tasks-list__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.tasks-list__button:hover {
  color: #3a3a3a;
}
/* Heading */
.tasks-list-heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.tasks-list__edit,
.todo__add-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.tasks-list_edit:focus {
  color: #333;
}

/* New Task */

.tasks-list-heading {
  display: block;
  margin: 0 0 20px;
}
#add-new-task {
  width: 318px;
}

/* Task list */
.tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-list__item > * {
  vertical-align: middle;
}

.tasks-list__marker {
  margin: 0 10px;
}
.tasks-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-list__edit {
  width: 226px;
}
.delete-button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-button__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .tasks-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list__edit {
  display:none;
}

.edit-mode .tasks-list__edit {
  display:inline-block;
  width:224px;
}

.edit-mode .tasks-list__label {
  display:none;
}